<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Skylark验证码</title>
</head>
<body>
<div class="panel">
	<div style="text-indent: 2em;padding-top: 5%;">尊敬的&nbsp;<span style="color: #0066FF;">{{username}}：</span> &nbsp;
		<div style="padding-top: 5%;">您好，欢迎使用Skylark平台，您的验证码为：</div>
		<div style="padding-bottom: 2%;">
			<div style="font-size: 40px;font-weight: bold; color: #00acc1;">{{captcha}}</div>
		</div>
		<div><span style="color: red;">验证码有效期为5分钟，</span>请妥善保管，请勿泄露。</div>
	</div>
</div>
</body>
<script >
</script>
<style>
.panel{
    width: 600px;
    height: 300px;
}
</style>
</html>
